<div class="container mt-4">
  <h2>Danh sách trường học đang hoạt động</h2>
    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Tên trường học</th>
          <th scope="col">Trang web trường</th>
          <th scope="col">Trình độ đào tạo</th>
          <th scope="col">Số lượng học sinh</th>
          <th scope="col-2">Hành động</th>
        </tr>
      </thead>
      <tbody>
        {{#each schools}}
          <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.url}}</td>
            <td>{{this.level}}</td>
            <td>{{this.size}}</td>
            <td>
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#hiddenSchool" data-id="{{this._id}}">
                Ẩn
              </button>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="7" class="text-center">
              Không có trường học nào. <a href="">Thêm trường học</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</div>

<form name="form-hiddenSchool" method="POST"></form>
<!-- Modal -->
<div class="modal fade" id="hiddenSchool" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ẩn trường học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn muốn ẩn trường học này khỏi trang chủ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-hiddenSchool">Ẩn</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
        
      </div>
    </div>
  </div>
</div>


<script>

    document.addEventListener("DOMContentLoaded", function() {

        var schoolId 
        var hiddenSchoolBtn = document.getElementById('btn-hiddenSchool')
        var hiddenSchoolForm = document.forms['form-hiddenSchool']

        $('#hiddenSchool').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            schoolId = button.data('id')
        })
        
        hiddenSchoolBtn.onclick = function() {
          hiddenSchoolForm.action = '/school/' + schoolId + '/?_method=PATCH'
          hiddenSchoolForm.submit()
        }
    })
    
</script>